* {
  box-sizing: border-box;
}

body {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin: 0;
      line-height: 1.6;
      background: #f4f4f4;
    }
    header, footer {
      background: #394bef;
      color: #fff;
      padding: 20px;
      text-align: center;
    }
    main {
      max-width: 900px;
      margin: 20px auto;
      background: #fff;
      padding: 20px;
    }
    section {
      margin-bottom: 20px;
    }
    h1, h2 {
      margin-bottom: 10px;
    }
    article {
      margin-bottom: 10px;
    }
    aside {
      background: #f0f0f0;
      padding: 10px;
      margin-top: 20px;
    }